body {
    margin-top: 120px;
}

.container {
    min-height: 700px;
}

.container .row {
    padding-top: 25px;
}

.cursor-text {
    animation: blink 1s infinite;
}

#footer {
    padding-top: 40px;
    padding-bottom: 25px;
    text-align: center
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

.lock-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    z-index: 10000;
    text-align: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.80);
    display: none;
    justify-content: center;
    align-items: center;
}

#main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    background-color: #049cdb;
}

#main-navbar .salesforce-logo {
    width: 100px;
    height: 60px;
    margin-top: -15px;
}

#scroll-up {
    width: 99px;
    height: 99px;
    opacity: 0.6;
    position: fixed;
    bottom: 90px;
    right: 30px;
    display: none;
    background: url('../img/up1.png') no-repeat;
}

.typing-fx {
    color: #ffffff;
    font-family: "Courier";
    font-size: 15px;
    margin: 10px 0 0 10px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: type 4s steps(60, end);
}

.typing-fx a {
    color: #ffffff;
    text-decoration: none;
}

.video-container {
    height: calc(100% - 25%);
    width: calc(100% - 30%);
    position: relative;
}

.video-description {
    text-align: left;
    margin: 4px 10px;
    color: #ffffff;
}

.video-player {
    height: calc(100% - 5%);
    background-color: #000000;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.50);
    padding: 5px;
}

.nav-tabs {
    float: right;
}

.nav-tabs > li {
    margin-top: 20px;
}

.nav-tabs > li > a {
    color: #ffffff;
    border: medium none;
}
.nav-tabs > li > a:hover{
    background-color: #ffffff !important;
    color: #049cdb;
    border: medium none;
    border-radius: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #ffffff !important;
}

.navbar-brand {
    color: white;
    font-size: xx-large;
    float:none;
    /*margin-top: 10px;*/
}

.navbar-header {
    float: left;
    position: absolute;
    padding: 15px;
    width: 100%;
    text-align: center;
}
